.header-col {
    padding-top: 25vh;

    display: flex;
    flex-direction: column;
    gap: 3%;
}

.header {
    font-size: 72px;
    font-weight: bold;
}

.subtitle {
    font-size: 40px;
    font-weight: 100;
}

.image-wrapper {
    border-radius: 50px;
    max-width: 30%;
}

.socials-container {
    overflow: visible;
    margin-top: 3em;
    padding: .5em .25em;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 45%;

    background-color: #272827;
    border-radius: 10px;;
}

.social-link {
    transition: .2s;
}

.social-link:hover {
    filter: brightness(.7);
}