.header-col {
    padding-top: 25vh;

    display: flex;
    flex-direction: column;
    gap: 3%;
}

.subtitle {
    font-size: 40px;
    font-weight: 100;
}

.image-wrapper {
    border-radius: 50px;
    max-width: 30%;
}

.socials-container {
    overflow: visible;
    margin-top: 3em;
    padding: .5em .25em;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 45%;

    background-color: #272827;
    border-radius: 10px;;
}

.social-link {
    transition: .2s;
}

.social-link:hover {
    filter: brightness(.7);
}

.navigation-col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding-top: 79vh;
    gap: 3%;
}

.replay-animations {
    width: fit-content;
    padding: .2em .7em;
    margin-top: .5em;
    border-radius: 5px;
    background-color: var(--secondary-bg);

    transition: all .2s ease-in-out;
}

.replay-animations:hover {
    background-color: #000;
    cursor: pointer;
}

/* responsiveness */
@media only screen and (max-width: 913px) {
    .header {
        margin-top: 1em;
        font-size: 62px;
    }

    .navigation-col {
        padding-top: 6vh;
    }
}