@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root {
    --primary-bg: #1E1E1E;
    --primary-text: #FFFFFF;
    --primary-theme-about: #F72585;
    --primary-theme-work: #C1121F;
    --primary-theme-projects: #0582CA;
    --secondary-theme-projects: #003554;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    background-color: var(--primary-bg);
}

main {
    height: 100vh;
}

h1, h2, h3, h4, h5, p, li, div, span {
    color: var(--primary-text);
    font-family: 'Inter', sans-serif;
}

.top-row {
    padding-top: 15vh;
}

.header {
    font-size: 72px;
    font-weight: bold;
}

.maxHeight {
    height: 100%;
}

.navigation-link {
    font-size: 32px;
    font-weight: 500;
    white-space: nowrap;
    padding: 0 .25rem;

    transition: box-shadow 1s;
}

.navigation-link-about:hover {
    box-shadow: inset 500px 0 0 0 var(--primary-theme-about);
}

.navigation-link-work:hover {
    box-shadow: inset 500px 0 0 0 var(--primary-theme-work);
}

.navigation-link-projects:hover {
    box-shadow: inset 500px 0 0 0 var(--primary-theme-projects);
}

.underline {
    display: inline-block;
}

.underline::after {
    content: '';
    width: 0px;
    height: 3px;
    display: block;
    transition: .3s;
}

.underline:hover::after {
    width: 100%;
}

.underline-permanent::after {
    content: '';
    width: 100%;
    height: 3px;
    display: block;
}

.underline-about::after {
    background-color: var(--primary-theme-about);
}

.underline-projects::after {
    background-color: var(--primary-theme-projects);
}

.underline-work::after {
    background-color: var(--primary-theme-work);
}

@media only screen and (max-width: 913px) {

    .top-row {
        padding-top: 5vh;
    }

}

.image-shadow {
    box-shadow: 10px 10px;
}

.image-shadow-about {
    color: var(--primary-theme-about);
}

.image-shadow-work {
    color: var(--primary-theme-work);
}

.image-shadow-projects {
    color: var(--primary-theme-projects);
}