.filter-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.filter-header {
    font-size: 32px;
    font-weight: normal;

    margin-bottom: 0;
}

.filters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;

    padding: 0 1em;
    background-color: var(--secondary-bg);
    border-radius: 5px;
}

.filters span {
    margin-right: 1em;

    font-size: 32px;
    font-weight: 600;
    font-style: italic;
}

.filters span:nth-last-child(1) {
    margin-right: 0;
}

.filters span:hover {
    cursor: pointer;
}

.project-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    gap: 1.3em;
    margin-top: 2em;

    width: 100%;
}

.projectCard {
    width: 250px;
    max-width: 250px;
}

@media only screen and (max-width: 913px) {

    .project-container {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }

    .filters { 
        padding: .5em 0;
        justify-content: center;
    }
}